.bg{
    background-image: url(../Images/wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg);
    height: 900px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    /* overflow-y: hidden; */
    
}
.whiteTxt{
    color: white;
}
.marginn{
    margin-left:20%;
}
.cardbg{
    background-color: #2274D0;
    padding: 20px;
    border-radius: 8px;
    color: white;
    height: 270px;
    width: 190px;
}
.regFont{
    font-family: 'Gelasio', serif;

}
.tenFont{
    font-family: 'Tenor Sans', sans-serif;
}
.sizing{

    height: 2px;
    background: rgb(255, 255, 255);

}
.degreeTxt{
    
    text-align: left;
}
.regularTxt{
    font-size: 40px;
    margin: 0px;
}

.img-margin{
    margin-left:15% ;
}

.bg3{
    width: 700px;
    background-color: #2274D0;
    border-radius: 10px;
    height: 250px;
 padding: 1%;
}

.inBoxTxt{
    color: rgb(255, 255, 255);
    opacity: 100%;
}
.bgbody{
    background-color: r#2274D0!important;
}
.bg-primary {
    background-color: r#2274D0!important;
    opacity: 80%;
}

a.nav-link{
color: rgb(255, 255, 255);
border-radius: 8px;
}
.navbar-brand {
    color: white!important;
    }
.degree{

    text-align: center;
    color: white;
}
.translucentBg{
    background-color: white;
    border-radius: 10px;
    opacity: 50%;
    width: 500px;
    height: 50px;
}


.paddingLeft{
    padding-left: 15%;
}


.center{
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  /* top: 50%; */
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

